/**
 * 全页面渲染或可复用的代码放在这儿
 */
* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif, "Microsoft YaHei";
}

body {
    height: 100%;
    background-color: #e3e3e3;
}
li{
   list-style: none;
}
a{
    text-decoration: none;
}

/*包裹块*/
.bg-white {
    background-color: #ffffff;
}

/*清除浮动*/
.clearfix:after {
    display: block;
    height: 0;
    content: ".";
    clear: both;
    visibility: hidden;
}

.clearfix {
    zoom: 1;
}

/**
 * index.html
 */
.topNav{ 
    width: 100%;
    height: 80px;
    background: #522a5c;
    position: relative;
}
.wrap{
    width: 980px;
    height: 80px;
    margin: 0 auto;
    position: relative;
    }
.wrap .myLogo{
    display: block;
    float: left;
    font-size: 18px;
    color: #fff;
    height: 18px;
    margin-top: 48px;
}
.wrap ul{
    position:absolute;
    float: right;
    height: 20px;
    right: 0;
    bottom: 12px;}
.wrap li{float: right;}
.wrap li a{display:inline-block;font-size: 14px;padding: 0 14px;color: #fff;}
.topNav .logo{position: absolute;right: 10px;bottom: 0;}

.banner {
    width: auto;
    height: 600px;
    background-image: url("../img/banner.jpg");
    background-size: cover;
}

.banner-container {
    position: relative;
    width: 980px;
    height: 600px;
    margin: 0 auto;
}

.banner-text {
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 400px;
    padding: 10px 10px 30px 10px;
    color: #F4F4F4;
    background-color: #ffffff;
    background: linear-gradient(top,
    rgba(244, 244, 244, 0.7) 0%,
    rgba(244, 244, 244, 0.5) 75%,
    rgba(244, 244, 244, 0) 100%
    );
    background: -webkit-linear-gradient(top,
    rgba(244, 244, 244, 0.7) 0%,
    rgba(244, 244, 244, 0.5) 75%,
    rgba(244, 244, 244, 0) 100%
    );
}

.banner-text h1 {
    text-align: right;
    font-size: 14px;
    margin-bottom: 12px;
}

.banner-text article {
    font-size: 12px;
    line-height: 150%;
    text-indent: 2em;
}

.blog-container {
    width: 980px;
    margin: 10px auto 100px;
    overflow: hidden;
}

.blog-list {
    float: left;
    width: 320px;
    margin-right: 10px;
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}
.blog-list:last-child {
    margin-right: 0;
}

.blog-list img {
    width: 300px;
    height: 180px;
    margin: 10px 10px 15px 10px;
}

.blog-list p {
    padding: 0 30px 25px 30px;
    line-height: 170%;
    font-size: 12px;
    text-indent: 2em;
}
.intro-container {
    width: 100%;
    background-color: #ffffff;
    padding-bottom: 50px;
}
.intro-container img {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    top: -50px;
    display: block;
    width: 160px;
    height: 160px;
    border-radius: 80px;
}
.intro-container h1 {
    font-family: "Century Gothic", sans-serif;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
}
.intro-container article {
    font-size: 14px;
    width: 600px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    line-height: 170%;
    text-indent: 2em;
}
/**
 * blog.html
 */

/**
 * gallery.html
 */

/**
 * about.html
 */
.about-container{
	width:980px;
	margin:80px auto 0;
	position:relative;
	height:1300px;
}
.about-container .left-box{
	width:487px;
	float:left;
	background-color:#fff;
	font-size:20px;
	height:100%;
	position:relative;
}
.about-container .right-box{
	width:487px;
	float:right;
	background-color:#fff;
	font-size:14px;
	height:100%;
	position:relative;
}
.position-img1{
	position:absolute;
	width:120px;
	height:120px;
	left:50%;
	margin-left:-60px;
	top:-30px;
	border-radius:65px;
	border:8px solid #e3e3e3;
	z-index:2;
}
.img-100{
	position:absolute;
	width:100px;
	height:100px;
	left:50%;
	margin-left:-50px;
	border-radius:65px;
	border:8px solid #e3e3e3;
	z-index:2;
}
.position-img2{
	top:220px;
}
.position-img3{
	top:430px;
}
.position-img4{
	top:800px;
}
.left-box .name{
	top:120px;
	position:absolute
	;right:80px;
}
.right-box .intro{
	top:120px;
	position:absolute;
	left:40px;
	padding-right:100px;
	text-indent:2em;
}
.left-box .contact{
	position:absolute;
	top:340px;
	right:80px;
}
.right-box .contact{
	position:absolute;
	top:340px;
	left:40px;
	line-height:24px;
}
.left-box .education{
	position:absolute;
	top:560px;
	right:80px;
}
.right-box .education{
	position:absolute;
	top:560px;
	left:60px;
}
.education .school{
	line-height:24px;
}
.education .a{
	margin-top:40px;
}
.education .b{
	margin-top:20px;
}
.left-box .internship{
	position:absolute;
	top:925px;
	right:80px;
}
.right-box .internship{
	position:absolute;
	top:925px;
	left:60px;
	line-height:20px;
}
.internship .company{
	margin-bottom:34px;
}
.center-num{
    border: 5px solid #e3e3e3;
    border-radius: 10px;
    left: 50%;
    line-height: 28px;
    margin-left: -40px;
    position: absolute;
    text-align: center;
    width: 80px;
    z-index: 2;
	background-color:#fff;
}
.edu_08{
    top: 560px;
}
.edu_09{
    top: 630px;
}
.edu_15{
    top: 700px;
}

.int_14{
    top: 925px;
}
.int_15{
    top: 1000px;
}

/**
*footer.css
*/
.footer {
    position: relative;
    width: 100%;
    height: 400px;
    background: #000;
}
.footer-nav{
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #888;
}
.footer-nav li{
    position: relative;
    float: left;
    left: 40%;
    margin-left: 30px;
    line-height: 40px;
}
.footer-links ul{
    float: left;
    margin-left: 10%;
    text-align: center;
}
.footer h3 {
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 15px;
    color: #888;
}
.footer a {
    text-decoration: none;
}
.footer-nav li,
.footer-links li,
.copyright p {
    color: #fff;
}
.footer li {
    list-style: none;
    font-size: 15px;
}
.footer-links li:hover {
    text-decoration: underline;
}
.copyright {
    margin: 285px auto 0 auto;  
    text-align: center;  
}
.copyright p {
    margin-bottom: 20px;
}