/**
**
复用代码块
**
**/
* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif, "Microsoft YaHei";
}

body {
    height: 100%;
    background-color: #e3e3e3;
}

p, article {
    text-indent: 2em;
}
/*中间部分*/
.blog-center {
    width: 980px;
    margin: 20px auto 0;
}
.blog-content {
    float: left;
    width: 710px;
    margin-right: 10px;
    margin-bottom: 100px;
}
.blog {
    position: relative;
    padding: 30px 20px;
    margin-bottom: 10px;
    line-height: 1.5em;
    background: #fff; 
}
.blog h1 {
    font-size: 16px;
    color: #9932cc;
}
.blog h2 {
    font-size: 12px;
}
.blog p {
    font-size: 13px;
}
.blog section {
    float: right;
    font-size: 15px;
}
.label {
    position: absolute;
    width: 50px;
    left: -50px;
    color: #fff;
}
.date,
.blog-key {
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.date {
    background: #800080;
}
.blog-key {
    background: #9932CC;
}
.page {
    width: 541px;
    margin: 0 auto;
}
.number {
    float: left;
    padding: 15px;
    margin-right: 10px;
    background: #fff;
    font-size: 12px;
}
.invalid-number {
    color: #888;
}
.page a {
    text-decoration: none;
    color: #000;
}
.current-page {
    background: #800080;
}
.right-side {
    float: right;
    width: 260px;
    margin-bottom: 10px;
    background: #fff;
}
.search {
    position: relative;
    border: 1px solid #e2e2e2;
    margin: 20px;
    height: 40px;
    font-size: 0;
}
.search:hover {
    border: 1px solid #47456d;
}
.keyword {
    position: absolute;
    border: none;
    width: 170px;
    height: 38px;
    background-image: url(../img/search.png);
    background-repeat: no-repeat;
}
.keyword:focus {
    background-image: none;
}
.submit {
    position: absolute;
    width: 50px;
    height: 38px;
    right: 0;
    color: #888;
}
.submit:hover {
    background: #2F4F4F;
}
.classify {
    width: 260px;
    height: 55px;
    line-height: 55px;
    padding-left: 20px;
    color: #888;
    border-top: 1px solid #e2e2e2;
    border-left: 5px solid #DDA0DD;
}
.classify:hover {
    border-left-color: #BA55D3;
}
.calendar {
    width: 220px;
    margin: 20px;
    height: 220px;
    font-size: 12px;
    text-align: center;
    border-collapse: collapse;
    color: #888;
}
.calendar th {
    color: #800080;
}
.current-date {
    color: #fff;
    background: #800080;
}
.impt {
    font-weight: bold;
    color: #800080;
}
.tag-wrap {
    padding: 10px;
}
.tag-wrap h3 {
    color: #888;
}
.tag-wrap p {
    margin-top: 10px;
    text-indent: 1em;
    color: #800080;
}
.tag-bigger {
    font-size: 30px;
}
.tag-big {
    font-size: 20px;
}
.tag-middle {
    font-size: 16px;
}
.tag-small {
    font-size: 12px;
}